<!--it will show the title passed from the router-->
<h1>Welcome to the {{title}}</h1>
<!--it will show the author name-->
<p>A web app by {{author}}</p>
<!--it will show the time page was loaded-->
<p>You loaded this page at{{timePageLoadedAt}}</p>
<!--adding a link to the feedback form route-->
<p><a href="/feedback-form">Submit feedback here</a></p>